@import "~foundation/scss/foundation";

#hanzi-hospital-app {
    width: 780px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    border: thin solid #ccc;
    border-radius: 10px;
}

.hh-operating-room {
    background: #ddd;
    display: flex;
    flex-direction: row;

    .gurney-container {
        flex: 1 1 50%;
        height: 260px;

        &:before {
            display: block;
            content: ' ';
            height: 100px;
            background-image: url('./images/operating-room-lamp.svg');
            background-repeat: no-repeat;
            background-position: center top;
        }
    }

    .gurney {
        border: medium solid #ccc;
        background-color: #dadada;
        height: 100%;

        &:after {
            content: ' ';
            display: block;
            height: 100px;
            background-image: url('./images/gurney-table.svg');
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: contain;
        }

    }

    margin-bottom: 50px;
    &:after {
        content: ' ';
        clear: both;
        display: block;
    }

    .hh-character {

        .meaning-pinyin-container {
            width: 100px;
        }

        .hh-component {
            height: 100%;
        }
    }

}


.label {
    font-weight: bold;
    font-size: 150%;
}

.hh-character {

    .meaning-pinyin-container {
        font-size: 150%;
    }

    .meaning {
        font-style: italic;
    }

    .meaning, .pinyin {
        text-align: center;
    }

    &:after {
        content: ' ';
        display: block;
        clear: both;
    }
}

.hh-component-region {
    display: inline-block;
    height: 100%;
}

.hh-component {
    position: relative;
    min-width: 50px;
    height: 120px;
    overflow: visible;

    &.sink, &.source {
        border: thin dashed #333;
    }

    &.source {
        cursor: pointer;
    }

    .container {
        height: 100%;
        position: relative;
    }

    svg {
        overflow: visible;
        height: 100%;
        width: auto;
        left: 0;
    }

}

.gurney {
    .hh-component {
        .container {
            background-color: #eee;
            &.correct {
                background-color: rgba(204, 255, 204, .5);
            }
            &.incorrect {
                background-color: rgba(255,204,204,.5);
            }
            &.drop-hover {
                background-color: #ddf;
            }
        }
    }
}

.donors-region {
    margin-top: 50px;
    clear: both;
}

.hh-donors {
    margin-top: 50px;
    ul {
        padding-left: 0;
    }

    li {
        display: inline-block;
        margin-right: 25px;
        border: thin solid #ccc;
        &:hover {
            background: #ccc;
        }
    }
}

.hh-results {
    font-size: x-large;

    &.correct {
        color: green;
    }

    &.incorrect {
        color: red;
    }

}

.ui-dialog-titlebar-close {
    visibility: hidden;
}
