.label {
    font-weight: bold;
    font-size: 150%;
}

.hh-character {

    .meaning-pinyin-container {
        font-size: 150%;
    }

    .meaning {
        font-style: italic;
    }

    .meaning, .pinyin {
        text-align: center;
    }

    min-width: 205px;
    &:after {
        content: ' ';
        display: block;
        clear: both;
    }
}

.hh-component-region {
    float: left;
}

.hh-component {
    position: relative;
    min-width: 50px;
    height: 120px;

    &.sink, &.source {
        border: thin dashed #333;
    }

    &.source {
        cursor: pointer;
    }
    
    .container {
        height: 100%;
        position: relative;
    }

    svg {
        height: 100%;
        width: auto;
        left: 0;
    }

}

.gurney {
    .hh-component {
        .container {
            background-color: #eee;
            &.correct {
                background-color: rgba(204, 255, 204, .5);
            }
            &.incorrect {
                background-color: rgba(255,204,204,.5);
            }
            &.drop-hover {
                background-color: #ddf;
            }
        }
    }
}

.hh-operating-room {
    .gurney-container {
        float: left;
        margin-right: 50px;
    }
    .gurney {
        border: medium solid #ccc;
        width: 400px;
        background-color: #dadada;
        height: 260px;
    }

    margin-bottom: 50px;
    &:after {
        content: ' ';
        clear: both;
        display: block;
    }

    .hh-character {

        .meaning-pinyin-container {
            width: 100px;
        }

        .hh-component {
            height: 250px;
        }
    }

}

.donors-region {
    margin-top: 50px;
    clear: both;
}

.hh-donors {
    margin-top: 50px;
    ul {
        padding-left: 0;
    }

    li {
        display: inline-block;
        margin-right: 25px;
        border: thin solid #ccc;
        &:hover {
            background: #ccc;
        }
    }
}

.hh-results {
    font-size: x-large;

    &.correct {
        color: green;
    }
    
    &.incorrect {
        color: red;
    }

}
