@import "~zurb-foundation-5/scss/foundation";
@import "settings";

html, body {
    height: 100%;
}

#hanzi-hospital-app {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: thin solid #ccc;
    border-radius: 10px;
    position: relative;

    $donorsHeight: 10rem;

    > .main-region {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: $donorsHeight;
    }

    > .donors-region {
        position: absolute;
        bottom: 0;
        height: $donorsHeight;
        left: 0;
        right: 0;
    }
}

.hh-operating-room {
    background: #ddd;
    height: 100%;

    .gurney {
        $gurneyPadding: .5rem;

        width: 50%;
        float: left;
        height: 100%;
        position: relative;

        $gurneyTopHeight: 5rem;
        .gurney-top {
            height: $gurneyTopHeight;
            width: 100%;
            background-image: url('./images/operating-room-lamp.svg');
            background-repeat: no-repeat;
            background-position: center top;
        }

        .gurney-bottom {
            $gurneyImgHeight: 5rem;

            position: absolute;
            top: $gurneyTopHeight + $gurneyPadding;
            bottom: $gurneyPadding;
            left: $gurneyPadding;
            right: $gurneyPadding;

            .gurney-content {
                position: absolute;
                top: 0;
                bottom: $gurneyImgHeight;
                width: 100%;
                background-color: #fefefe;
                border: thin solid #ccc;
                padding: $gurneyPadding;
            }

            &:after {
                position: absolute;
                bottom: 0;
                content: ' ';
                display: block;
                height: $gurneyImgHeight;
                width: 100%;
                background-image: url('./images/gurney-table.svg');
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: contain;
            }

        }

        // Responsive characters in gurneys.
        .hh-character-inner{

            @media #{$small-only} {
                > div {
                    height: 50%;
                    @include grid-column(12);
                }
                .hh-component-region {
                    max-width: 45%;
                }
            }
        }


    }
}


.label {
    font-weight: bold;
    font-size: 150%;
}

.hh-character {
    height: 100%;

    .hh-character-inner {
        position: relative;
        height: 100%;
        @include grid-row();

        > div {
            @include grid-column(6);
        }
    }

    .hh-components-container {
        height: 100%;
        display: flex;
        flex-direction: row;

        > .hh-component-region {
            flex: 1 1 auto;
        }
    }

}

.hh-component-region {
    display: inline-block;
    height: 100%;
}

.hh-component {
    position: relative;
    min-width: 50px;
    height: 100%;
    overflow: visible;

    &.sink, &.source {
        border: thin dashed #333;
    }

    &.source {
        cursor: pointer;
    }

    .hh-component-inner {
        height: 100%;
        position: relative;
        overflow: visible;
    }

    svg {
        overflow: visible;
        height: 100%;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        left: 0;
    }

}

.gurney {
    .hh-component {
        .hh-component-inner {
            background-color: #eee;
            &.correct {
                background-color: rgba(204, 255, 204, .5);
            }
            &.incorrect {
                background-color: rgba(255,204,204,.5);
            }
            &.drop-hover {
                background-color: #ddf;
            }
        }
    }
}

.hh-donors {
    height: 100%;
    position: relative;

    $donorsTopHeight: 2rem;

    .hh-donors-top {
        position: absolute;
        top: 0;
        height: $donorsTopHeight;
        width: 100%;
    }

    .hh-donors-bottom {
        position: absolute;
        top: $donorsTopHeight;
        bottom: 0;
        width: 100%;

        ul {
            padding: .5rem;
            margin-left: 0;
            height: 100%;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        }

        li {
            height: 100%;
            display: inline-block;
            margin-right: 25px;
            border: thin solid #ccc;
            &:hover {
                background: #ccc;
            }
        }
    }

    .hh-character-inner {
        $mpWidth: 10rem;

        .hh-meaning-pinyin-container {
            position: absolute;
            left: 0;
            width: $mpWidth;
            font-size: 150%;

            .hh-meaning {
                font-style: italic;
            }

            .hh-meaning, .hh-pinyin {
                text-align: center;
            }
        }

        .hh-components-container {
            margin-left: $mpWidth;
            height: 100%;
            display: flex;
            flex-direction: row;
            min-width: 10rem;

            > .hh-component-region {
                flex: 1 1 auto;
            }
        }
    }

}

.ui-dialog-titlebar-close {
    visibility: hidden;
}
